.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    background-color: cadetblue;
    border: 2px solid blue;
}

@media (max-width:499px) {
    body {
        display: grid;
        gap: 2rem;
    }
}

@media (min-width:500px) and (max-width:899px) {
    body {
        display: grid;
        gap: 2rem;        
    }
}