@media(min-width: 900px) {
    body{
        background-color: red;
    }
}

@media (min-width:500px) and (max-width:899px) {
    body{
        background-color: yellow;
    }
    h1{
        font-size: 40px;
    }
}

@media (max-width:499){
    body{
        background-color: green
    };
    h1{
        font-size: 30px;
    }
}